﻿+<%@ Page Language="VB" AutoEventWireup="false" CodeFile="CargarOrdenes.aspx.vb" Inherits="CargarOrdenes" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="resultado" runat="server" Text="cargando"></asp:Label>
            <div style="text-align:center">
             <asp:bulletedlist displaymode="Text" target="_blank" ID="bl_respuesta" runat="server" style="font-size: 16px; text-align: left"></asp:bulletedlist>
       </div> </div>
    </form>
</body>
</html>
